<!DOCTYPE html>
<html>
<head>
  <title>AngelHack2015Boston</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <link href: "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" rel: "stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">AngelHack2015Boston</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>

    <nav class="sub-header">
      <div class="row">
        <div class="small-2 columns"><%= link_to 'Shit I want to do', user_recommendations_path  %></div>
        <div class="small-2 columns"><%= link_to 'View Recommendations', accepts_path %></div>
        <div class="small-2 columns"><%= link_to 'Shit in my area', map_path %></div>
        <div class="small-2 columns end"><%= link_to 'View Friends', "javascript:void(0)" %></div>
      </div>
    </nav>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= yield :extra_footer %>
</body>
</html>
